body {
    background-image: url('https://caracol.com.co/resizer/sl1LS7Sx-Z7-bZPrW8O40srBWZQ=/650x488/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/prisaradioco/JI2GJZ5RFJD3JE36GFAWMYJW5I.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin-top: 20px;
    color: white;
    background-color: #429efa8a;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
}
.volver-btn {
    position: fixed;
    top: 10px; 
    left: 10px; 
    z-index: 1000; 
}

.volver-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

