<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de Reserva de Vuelo</title>
    <!-- Incluye el archivo CSS externo -->
    <link rel="stylesheet" href="reserva.component.css">
    <!-- Incluye el archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <a href="#" class="btn btn-secondary ">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
    <div class="container confirmation-container">
        <h1>¡Reserva de Vuelo Confirmada!</h1>
        <p>Gracias por elegir nuestra aerolínea. Tu reserva se ha realizado con éxito.</p>
        <p>Detalles de la reserva:</p>
        <ul class="list-group">
            <li class="list-group-item">Nombre del pasajero: </li>
            <li class="list-group-item">Número de vuelo: </li>
            <li class="list-group-item">Fecha de salida: </li>
            <li class="list-group-item">Origen: </li>
            <li class="list-group-item">Destino: </li>
        </ul>
        <p>Un correo electrónico de confirmación ha sido enviado a tu dirección de correo electrónico.</p>
    </div>

    <!-- Incluye los archivos JavaScript de Bootstrap (opcional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
